body{
  background-color: #45B9D3;
  padding: 25px;
}

.bold{
  font-style: oblique;
}

.grow{
  font-size: 20px;
}

.white {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

h1{
  color: white;
  font-size: 40px;
}

h2{
  font-size: 30px;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
}
